{% import "macro.twig" as macro %}
<title># {{ node.name }}</title>

<code-block lang="php">
{{ macro.CodeBlock(nodetype) }}
</code-block>

{{ node.tags.experimental|length > 0 ? macro.Experimental(node, nodetype)|raw }}

{{ node.tags.deprecated|length > 0 ? macro.Deprecated(node, nodetype)|raw }}

{{ node.final ? macro.Final(node, nodetype)|raw }}

{{ node.abstract ? macro.Abstract(node, nodetype)|raw }}

{{ node.hasReturnByReference ? macro.ByReference(node, nodetype)|raw }}

{{ macro.CustomTags(node)|raw }}

{{ macro.Summary(node)|raw }}

{{ macro.Description(node)|raw }}

{{ macro.FileInfo(node, nodetype)|raw }}

{{ macro.AdditionalInfo(node, nodetype)|raw }}

{%- for tagName,tags in node.tags if tagName in ['since'] -%}
{% if tags|length > 0 %}

### Changelog
{{ macro.Since(tags)|raw }}
{%- endif -%}
{%- endfor -%}